body {
    margin: 0;
}

header {
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.site-header {
    margin: 5px 0px;
}
